.hidden {
    display: none;
}

.hand-cursor {
    cursor: pointer; 
    cursor: hand;
}

.card .card-content .card-title {
    font-size: 22px;
}

.card .card-image img {
    max-height: 200px;
}

.pagination .active {
    background-color: #607d8b !important;
    color: #FFFFFF;
}

main.container {
    padding-top: 20px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}