.hidden {
	display: none;
}

.hand-cursor {
	cursor: hand-cursor;
}

.card .card-content .card-title {
	font-size: 22px;
}

.card .card-image img {
	max-height: 200px;
}

.pagination .active {
	background-color: #607d8b !important;
	color: #FFFFFF;
}